html {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6, p, .actions {
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  width: 100%;
  overflow: hidden;
  padding: 32px 0;
  border: 1px solid #ccc;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.video-container {
  width: 100%;
}

video.video-block {
  width: 100%;
}

// ####################################################################
// Aspect ratio helpers
// ####################################################################

.ar-16-9 {
  width: 100% !important;
  height: auto !important;
  padding-top: 56.25%; /* 16:9 */
}

.ar-4-3 {
  width: 100% !important;
  height: auto !important;
  padding-top: 75%; /* 4:3 */
}

.ar-2-1 {
  width: 100% !important;
  height: auto !important;
  padding-top: 50%; /* 2:1 */
}

// ####################################################################
// Options for Video.js
// ####################################################################

.vjs-fullscreen {
  padding-top: 0px
}
.video-js-dimensions {
  width: 100%;
  height: auto;
}
