*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  /* Forzar barra de scroll vertical */
  /* overflow-Y: scroll; */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  min-height: 100%;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  font-size: 62.5%; }

.row {
  width: 100%;
  clear: both; }

.wrapper {
  width: 960px;
  /*width: 960px;*/
  margin-right: auto;
  margin-left: auto;
  clear: both;
  text-align: left;
  background: rgba(255, 0, 0, 0.25); }

.col {
  float: left;
  background: rgba(0, 0, 255, 0.25); }
  .col:first-child, .col.first {
    margin-left: 0 !important;
    margin-right: 0 !important; }

.cols-2 > .col {
  width: 49.30314%;
  margin-left: 1.39373%; }

.cols-3 > .col {
  width: 32.40418%;
  margin-left: 1.39373%; }

.cols-4 > .col {
  width: 23.9547%;
  margin-left: 1.39373%; }

.clearfix:after, .row:after, .wrapper:after, .col:after {
  content: "";
  display: table;
  clear: both; }

._h, .hidden {
  display: none !important; }

._i, .i {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0; }

._e, .e {
  color: #4c4c4c;
  text-shadow: -1px -1px 1px #4b4b4b;
  text-shadow: 1px 1px 1px #8b8b8b; }

._r, .r {
  border-radius: 4px; }

._s, .s {
  -moz-box-shadow: 0px 4px 5px #000000;
  -webkit-box-shadow: 0px 4px 5px #000000;
  box-shadow: 0px 4px 5px #000000; }

/*<div class="sp"><hr /></div>*/
/* hr { clear:both; display:none; height:1px; width:100%; }
div.sp { clear:both; height:1px; } */
html {
  background: #f0F; }

body {
  padding: 20px; }

.box {
  max-width: 100%;
  min-height: 400px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  overflow: hidden; }
  .box .video-bg-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/img/bg-home.png) center center no-repeat;
    background-size: cover;
    overflow: hidden; }
    .box .video-bg-wrapper > video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
  .box .content {
    position: relative;
    padding: 50px;
    z-index: 2;
    color: #fff; }
    .box .content p {
      width: 50%;
      font-size: 28px; }
