//
// Base
//
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  // background-repeat:no-repeat;
}

html {
  height: 100%;
  -ms-overflow-x: hidden;
      overflow-x: hidden;
  /* Forzar barra de scroll vertical */
  /* overflow-Y: scroll; */

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100%;
  -ms-overflow-x: hidden;
      overflow-x: hidden;
  font-size: 62.5%;
}

//
// Grid / rows / cols
//
.row {
  width: 100%;
  clear: both;
  @extend .clearfix;
}

.wrapper {
  width: $fg-min-w; /*width: 960px;*/
  margin-right: auto;
  margin-left: auto;
  clear: both;
  @extend .clearfix;

  text-align: left;

  @if $debug {
    background: rgba(255,0,0,0.25);
  }
}

.col {
  float: left;
  @extend .clearfix;

  &:first-child,
  &.first {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  @if $debug {
    background: rgba(0,0,255,0.25);
  }
}

.cols-2 {
  > .col {
    width: flex-grid(6);
    margin-left: flex-gutter();
  }
}

.cols-3 {
  > .col {
    width: flex-grid(4);
    margin-left: flex-gutter();
  }
}

.cols-4 {
  > .col {
    width: flex-grid(3);
    margin-left: flex-gutter();
  }
}

