// Sticky footer height
$footer_height: 150px;

html {
  background: #f0F;
}

body {
  padding: 20px;
}

.box { // wrapper
  max-width: 100%;
  min-height: 400px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  .video-bg-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: grey;
    overflow: hidden;
    > video {
      /* top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;*/
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      background-size: cover;
    }
  }
  .content {
    position: relative;
    padding: 50px;
    z-index: 2;
    color: #fff;
    p {
      width: 50%;
      font-size: 28px;
    }
  }
}
