// Sticky footer height
$footer_height: 150px;

html {
  background: url(../img/bg_html.png) center top repeat-y #000;
  background: #f0F;
}

body {
  /* Ojo nunca repeat-y!!!, se cortará */
  background: url(../img/bg_body.png) center top repeat-x;
}

//
// Header
//
header#arriba {
	height: 250px;
	text-align: center;
	background: url(../img/bg_header.png) center top repeat-y;
}

div#h-interior {
	height: 250px;
	clear: both;
	margin: auto;
	text-align: left;
	background: url(../img/bg_header_interior.png) 0 0 repeat;
}

//
// Main blocks
//
#contenedor {
  width:100%;

  /* =STICKY. Set footer height. */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin:0 auto (-$footer_height) auto;
  /* =STICKY */

  background: url(../img/bg_contenedor.png) center top repeat-y;
  position: relative; /* ADDED FOR #bgfix BELOW */
}

#bgfix {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/bg_xtra.png) center top repeat-y;
  z-index: -1;
}

//
// Main content
//
section#main {
  width: flex-grid(12);
  margin: auto;
  padding: 0 0 48px 0;
  clear: both;
	overflow: hidden;

  background-color: #0F0;
  background: url(../img/bg_main_narrow.png) center top repeat-y;

  text-align: left;
}

//
// Sticky footer
//
.push {
	/* =STICKY. Set footer height. */
	height: $footer_height;
	/* =STICKY */

}

footer#sticky {
	/* =STICKY. Set footer height. */
	height: $footer_height;
	clear: both;
	background: url(../img/bg_footer.png) center top repeat-y;
}

.footer_contents {
	height: $footer_height;
	clear: both;
	margin: auto;
	text-align: left;
	background: url(../img/bg_footer_contents.png) 0 0 repeat;
	/* background-color:#0fF; */
	position: relative; /* Added so the links work fine in old IEs */
}

footer address {
	/* footer styles go here */
}
